<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Datos Afiliado</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center">
                                <i class="fa fa-user bigicon"></i></span>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <input class="form-control" type="text" placeholder="Primer nombre">
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" placeholder="Segundo nombre">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="Primer Apellido">
                                <input class="form-control" type="text" placeholder="Segundo Apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-address-card bigicon"></i></span>
                            <div class="col-md-8">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tipo de documento</option>
                                    <option value="1">TI</option>
                                    <option value="2">CC</option>
                                    <option value="3">CE</option>
                                    <option value="3">PS</option>
                                </select>
                                <input class="form-control" type="text" placeholder="Número Documento">
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-calendar bigicon"></i></span>
                                    <input class="form-control" type="date" placeholder="fecha nacimiento">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form>
        <legend class="text-center header"> Datos de contacto</legend>
        <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
            <div class="col-md-8">
                <input id="phone" name="phone" type="text" placeholder="número de celular" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <!-- State Button -->
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-mountain-city bigicon"></i></span>
            <select class="form-control" id="state_id">
                <option value="">---Seleccione Ciudad---</option>
                <option value="BOG">Bogotá</option>
                <option value="CA">Cali</option>
                <option value="MED">Medellin</option>
                <option value="BAQ">Barranquilla</option>
                <option value="BUG">Bucaramanga</option>
                <option value="PAT">Pasto</option>
                <option value="CAG">Cartagena</option>
                <option value="CU">Cucuta</option>
                <option value="MON">Monteria</option>
                <option value="VALL">Valledupar</option>
                <option value="SAN">Santa Marta</option>
                <option value="MAN">Manizales</option>
                <option value="LET">Leticia</option>
            </select>
        </div>
        <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-location-dot bigicon"></i></span>
            <input type="text" class="form-control " placeholder="Dirección, calle, carrera, casa, apto">            
        </div>

        <div class="form-group">
            
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                    <input type="email" class="form-control" placeholder="nombre@example.com">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Repetir Contraseña">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label" for="exampleCheck1">Acepto tratamiento de datos</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>