<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registro Usuario</h2>
                <form>
                    <div class="row row-space">
                        <div class="col-2">
                            <label for="name">Nombre</label>
                            <div class="input-group">
                                <input id="name" data-name="false" #name class="input--style-1" type="text" placeholder="Nombre Ej. Juan Sebastian">
                                <span class="icon"><i class="fa-solid fa-user i"></i></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="apellido">Apellidos</label>
                            <div class="input-group">
                                <input class="input--style-1" data-lastname="false" #lastname type="text" id="apellido" placeholder="Apellidos Ej. Rueda Tarazona">
                                <span class="icon"><i class="fa-solid fa-user-plus i"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <label for="email">Correo Electronico</label>
                            <div class="input-group">
                                <input #email data-email="false" class="input--style-1" type="email" id="email" placeholder="Ej. jsebg.ruedat@gmail.com">
                                <span class="icon"><i class="fa-solid fa-at i"></i></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="number">Telefono</label>
                            <div class="input-group">
                                <input #number data-number="false" class="input--style-1" type="number" id="number" placeholder="Ej. 3172466043">
                                <span class="icon"><i class="fa-solid fa-phone i"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <label for="date">Fecha de Nacimiento</label>
                            <div class="input-group">
                                <input class="input--style-1 js-datepicker" id="date" type="date">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group-select">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="gender" style="margin-bottom: 14px !important;">
                                        <option disabled="disabled" selected="selected">--Seleccione Genero---</option>
                                        <option>Mujer</option>
                                        <option>Hombre</option>
                                        <option>Otro</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="password"> Contraseña</label>
                            <div class="input-group">
                                <input data-muestraj="false" id="password" #password class="input--style-1" id="password" type="password">
                                <span #boton (click)="cambio1()" class="icon"><img #img class="i imagen-icono"src="./assets/img/eye-slash-solid.svg"/></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="password1">Confirmar Contraseña</label>
                            <div class="input-group">
                                <input data-muestrak="false" class="input--style-1" #password1 id="password1" type="password">
                                <span #boton (click)="cambio2()" class="icon"><img #img2 class="i imagen-icono" src="./assets/img/eye-slash-solid.svg"/></span>
                            </div>
                        </div>




                    </div>
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
</div>
