<nav class="navbar navbar-expand-lg navfija">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars icononav"></i>
      </button>
      <img class="logonav" src="assets/img/logoUNIDOSsinfondo.png" alt="Unidos IPS">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        
        <p class="slogan justify-content-sm-start navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 1rem;">"Estamos unidos por tu salud"</p>

        
          <button class="btn ms-2" type="submit"> <b>Iniciar sesión</b> </button>
      </div>
    </div>
  </nav>